[[source]]

url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest-benchmark = "*"


[packages]

atomicwrites = "==1.3.0"
attrs = "==19.1.0"
click = "==7.0"
gunicorn = "==19.9.0"
itsdangerous = "==1.1.0"
more-itertools = "==7.2.0"
pluggy = "==0.12.0"
py = "==1.8.0"
pytest = "==5.2.1"
selenium = "==3.141.0"
six = "==1.12.0"
Flask = "==1.1.1"
urllib3 = "==1.25.3"
Jinja2 = "==2.10.1"
MarkupSafe = "==1.1.1"
Werkzeug = "==0.15.5"
line-profiler = "*"


[requires]

python_version = "3.6"


[packages.egscraper]

path = "."
editable = true
